{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'result2.css' %}">
    <title>Decryption Successfull</title>
</head>

<body>
    <div class="container">
        <h1>Decrypted Text</h1>
        <textarea name="text" id="textarea" cols="40" rows="10" readonly>{{text}}</textarea>
        <div class="back-btn">
            <a href="/"><button class="btn-grad">Return to Home</button></a>
        </div>
    </div>
</body>

</html>