{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="banner">
            <h1>Encrypt Your Text <br> In Pictures <br><span>For Free</span></h1>
            <a href="/encrypt/"><button class="btn-grad">ENCRYPT</button></a>
            <a href="/decrypt/"><button class="btn-grad">DECRYPT</button></a>
        </div>
        <div class="details">
            <h2>How it works?</h2>
            <ol>
                <li>Encryption</li>
                <ol type="a">
                    <li>Click on encrypt button.</li>
                    <li>Enter your text and upload an image.</li>
                    <li>You will see an encrypted image on screen, click on image to download it.</li>
                </ol>
                <br>
                <li>Decryption</li>
                <ol type="a">
                    <li>Click on decrypt button.</li>
                    <li>upload an image.</li>
                    <li>You will see decrypted text on screen.</li>
                </ol>
            </ol>
            
        </div>
    </div>
</body>
</html>